.app-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: 50px;
}

.student-card {
  background-color: #0C1713;
  border-radius: 5px;
}

.student-info {
  color: antiquewhite;
}

main {
  background-color: #6BD425;
  height: 100%;
}